[submodule "deps/Rester"]
	path = deps/Rester
	url = https://github.com/asmodehn/Rester.git
[submodule "deps/testfixtures"]
	path = deps/testfixtures
	url = https://github.com/Simplistix/testfixtures.git
[submodule "deps/flask-cors"]
	path = deps/flask-cors
	url = https://github.com/corydolphin/flask-cors.git
[submodule "deps/flask-restful"]
	path = deps/flask-restful
	url = https://github.com/flask-restful/flask-restful.git
[submodule "deps/click"]
	path = deps/click
	url = https://github.com/mitsuhiko/click.git
[submodule "deps/webargs"]
	path = deps/webargs
	url = https://github.com/sloria/webargs.git
[submodule "deps/marshmallow"]
	path = deps/marshmallow
	url = https://github.com/marshmallow-code/marshmallow.git
[submodule "deps/flask-login"]
	path = deps/flask-login
	url = https://github.com/maxcountryman/flask-login.git
[submodule "deps/passlib"]
	path = deps/passlib
	url = https://github.com/asmodehn/passlib.git
