[submodule "deps/Rester"]
	path = deps/Rester
	url = https://github.com/asmodehn/Rester.git
[submodule "deps/testfixtures"]
	path = deps/testfixtures
	url = https://github.com/Simplistix/testfixtures.git
[submodule "deps/flask-cors"]
	path = deps/flask-cors
	url = https://github.com/corydolphin/flask-cors.git
[submodule "deps/flask-restful"]
	path = deps/flask-restful
	url = https://github.com/flask-restful/flask-restful.git
[submodule "deps/Flask-Migrate"]
	path = deps/Flask-Migrate
	url = https://github.com/miguelgrinberg/Flask-Migrate.git
[submodule "deps/flask-security"]
	path = deps/flask-security
	url = https://github.com/asmodehn/flask-security.git
[submodule "deps/click"]
	path = deps/click
	url = https://github.com/mitsuhiko/click.git
[submodule "deps/webargs"]
	path = deps/webargs
	url = https://github.com/sloria/webargs.git
[submodule "deps/marshmallow"]
	path = deps/marshmallow
	url = https://github.com/marshmallow-code/marshmallow.git
[submodule "deps/flask-login"]
	path = deps/flask-login
	url = https://github.com/maxcountryman/flask-login.git
[submodule "deps/flask-principal"]
	path = deps/flask-principal
	url = https://github.com/mattupstate/flask-principal.git
[submodule "deps/flask-mail"]
	path = deps/flask-mail
	url = https://github.com/mattupstate/flask-mail.git
[submodule "deps/flask-wtf"]
	path = deps/flask-wtf
	url = https://github.com/lepture/flask-wtf.git
[submodule "deps/flask-sqlalchemy"]
	path = deps/flask-sqlalchemy
	url = https://github.com/mitsuhiko/flask-sqlalchemy.git
[submodule "deps/passlib"]
	path = deps/passlib
	url = https://github.com/asmodehn/passlib.git
