--index-url https://pypi.python.org/simple/
--extra-index-url https://testpypi.python.org/simple/

# nose
# switching to because of nose annoying import problems
pytest

# To divert/prevent uninstalling attempt from tornado dependencies
# since pip requirements install is ignoring already installed packages for catkin_pip
# and these will be seen before by the installer for dependencies
futures
tornado

# adds dependency packages for development only
-e git+https://github.com/asmodehn/pyros.git#egg=pyros
-e git+https://github.com/asmodehn/pyros-rosinterface.git#egg=pyros_interfaces_ros
