--index-url https://pypi.python.org/simple/
--extra-index-url https://testpypi.python.org/simple/

Flask-Redis-Helper==1.0.0
celery==3.1.18
flower==0.8.2
futures==3.0.2
gunicorn==19.3.0
tornado==4.0.2

Flask==0.10.1
Flask-Celery-Helper
Flask-Cors==2.0.1
Flask-Script==2.0.5
Flask-Security==1.7.4

# -e git://github.com/asmodehn/flask-restful.git#egg=Flask-Restful
Flask-Restful

Flask-SQLAlchemy==2.0

-e git://github.com/asmodehn/rostful-node.git@rosless#egg=Rostful-node

-e .