<launch>
  <!-- ******************************* Arguments ******************************* -->
  <arg name="rostful_port" default="8080"/>
  <arg name="rostful_server" default="flask"/>
  <arg name="topics" default="['turtle1/pose']" />
  <arg name="services" default="[]" />
  <arg name="actions" default="[]" />
  <arg name="enable_rocon" default="false"/> <!-- NOT WORKING ANYMORE -->
  <arg name="rapps_namespaces" default="[]" /> <!-- TODO : default should be to watch all -> wildcard support needed -->

  <!-- rostful dev server -->
  <node pkg="rostful" name="rostful" type="devserver" args="-p $(arg rostful_port) -s $(arg rostful_server)">
    <param name="topics" value="$(arg topics)" type="str" />
    <param name="services" value="$(arg services)" type="str" />
    <param name="actions" value="$(arg actions)" type="str" />
    <param name="enable_rocon" value="$(arg enable_rocon)" type="bool" />
    <param name="rapps_namespaces" value="$(arg rapps_namespaces)" type="str"/>
  </node>

</launch>
