<launch>
  <!-- ******************************* Arguments ******************************* -->
  <arg name="rostful_port" default="8080"/>
  <arg name="rostful_server" default="tornado"/>
  <arg name="topics" default="['turtle1/pose']" />
  <arg name="services" default="[]" />
  <arg name="actions" default="[]" />
  <arg name="enable_rocon" default="false"/>
  <arg name="broker_url" default="redis://localhost:6379"/>
  <arg name="enable_worker" default="true"/>
  <arg name="worker_tasks" default="rostful.celery_tasks"/>
  <arg name="rapps_namespaces" default="[]" /> <!-- TODO : default should be to watch all -> wildcard support needed -->

  <!-- rostful dev server -->
  <!-- TODO : check if better option than a big group if just for one argument ? -->
  <group if="$(arg enable_worker)">
    <node pkg="rostful" name="rostful" type="devserver" args="-p $(arg rostful_port) -s $(arg rostful_server) --broker-url $(arg broker_url) --worker-tasks $(arg worker_tasks)">
      <param name="topics" value="$(arg topics)" type="str" />
      <param name="services" value="$(arg services)" type="str" />
      <param name="actions" value="$(arg actions)" type="str" />
      <param name="enable_rocon" value="$(arg enable_rocon)" type="bool" />
      <param name="rapps_namespaces" value="$(arg rapps_namespaces)" type="str"/>
    </node>
  </group>
  <group unless="$(arg enable_worker)">
    <node pkg="rostful" name="rostful" type="devserver" args="-p $(arg rostful_port) -s $(arg rostful_server) --broker-url $(arg broker_url) --worker-tasks $(arg worker_tasks) --no-worker">
      <param name="topics" value="$(arg topics)" type="str" />
      <param name="services" value="$(arg services)" type="str" />
      <param name="actions" value="$(arg actions)" type="str" />
      <param name="enable_rocon" value="$(arg enable_rocon)" type="bool" />
      <param name="rapps_namespaces" value="$(arg rapps_namespaces)" type="str"/>
    </node>
  </group>



</launch>
