<launch>

  <node pkg="turtlesim" name="rost_turtle" type="turtlesim_node"/>

  <!-- DEVELOPMENT -->
  <node pkg="rostful" name="rost_server" type="devserver" args="">
    <param name="topics" value="['/turtle1/pose']" type="str" />
    <param name="services" value="[]" type="str" />
    <param name="actions" value="[]" type="str" />
  </node>


</launch>
