<launch>
  <arg name="turtle_services" default="rostful_examples/turtle.services"/>
  <arg name="concert_name" default="Turtle Concert"/>
  <arg name="scheduler_type" default="compatibility_tree"/>
  <arg name="local_machine_only" default="true"/>  <!-- only invite clients if they are on the same pc -->
  <arg name="disable_zeroconf" default="true"/>

  <include file="$(find concert_master)/launch/concert_master.launch">
    <arg name="concert_name" value="$(arg concert_name)"/>
    <arg name="services" value="$(arg turtle_services)"/>
    <arg name="conductor_auto_invite" value="true" />
    <arg name="conductor_local_clients_only" value="$(arg local_machine_only)" />
    <arg name="default_auto_enable_services" value="all" />
    <arg name="scheduler_type" value="$(arg scheduler_type)"/>
    <arg name="disable_zeroconf" value="$(arg disable_zeroconf)"/>
  </include>
</launch>
