# Settings for rostful (flask wsgi app) in development

DEBUG = True

# This can be overridden via command line argument --server
SERVER_TYPE = "flask"

# Settings to pass to pyros node to interface with ROS
PYROS_TOPICS = []
PYROS_SERVICES = []
PYROS_PARAMS = []
PYROS_USE_CONNECTION_CACHE = True

# Not specifying these means we use pyros default.
# PYROS_CONNECTION_CACHE_LIST_TOPIC = "/rocon/connection_cache/list"
# PYROS_CONNECTION_CACHE_DIFF_TOPIC = "/rocon/connection_cache/diff"
#
# PYROS_SETUP_WORKSPACES
# PYROS_SETUP_DISTRO