# Default Settings for rostful (flask wsgi app)
# must be solid and ready for prod.
# Dev setting can be set in a dev config file

DEBUG = True

# Do not play with this.
# Only useful for subdomains
# SERVER_NAME = "mytest.local:8080"
# To specify where to run the server, use command line args

# This can be overridden via command line argument --server
SERVER_TYPE = "flask"

# Settings to pass to pyros node to interface with ROS
# TODO : this should be managed by pyros separately, not here...
PYROS_TOPICS = ['/.*']
PYROS_SERVICES = ['/.*']
PYROS_PARAMS = ['/.*']

# not assuming cache available by default
PYROS_USE_CONNECTION_CACHE = False

# Not specifying these means we use pyros default.
# PYROS_CONNECTION_CACHE_LIST_TOPIC = "/rocon/connection_cache/list"
# PYROS_CONNECTION_CACHE_DIFF_TOPIC = "/rocon/connection_cache/diff"
#
