<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %} |  ROSTful</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='js/jquery-mobile/jquery.mobile-1.4.5.min.css') }}">

<script src="{{ url_for('static', filename='js/jquery/jquery-1.11.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-mobile/jquery.mobile-1.4.5.min.js') }}"></script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
</head>
<body>

<div data-role="page" id="mainlayout">
    {% block UTIL_js %}{% endblock %}
  <div data-role="header" data-id="mainheader">
    <h1>{% block header %}{% endblock %}</h1>
  </div>

  <div class="ui-content">
    {% block GET_ajax %}{% endblock %}
    {% block GET %}{% endblock %}
  </div>


  <div class="ui-content">
    {% block POST_ajax %}{% endblock %}
    {% block POST %}{% endblock %}
  </div>

  <div data-role="footer" data-id="mainfooter" data-position="fixed">
    <h1>{% block footer %}{% endblock %}</h1>
  </div>

</div>

</body>
</html>
