--index-url https://pypi.python.org/simple/

-e git://github.com/asmodehn/flask-restful.git#egg=Flask-Restful
Flask-Redis-Helper==1.0.0
Flask-Script==2.0.5
celery==3.1.18
flower==0.8.2
futures==3.0.2
gunicorn==19.3.0
redis==2.10.3
catkin-pkg

-e git://github.com/asmodehn/rostful-node.git#egg=Rostful-node

-e .