<launch>
  <!-- ******************************* Arguments ******************************* -->
  <arg name="rostful_port" default="8080"/>
  <arg name="rostful_server" default="flask"/>
  <arg name="topics" default="['turtle1/pose']" />
  <arg name="services" default="[]" />
  <arg name="actions" default="[]" />
  <arg name="params" default="[]" />
  <arg name="enable_cache" default="true"/>
  <arg name="connection_cache_list" default="/rocon/connection_cache/list" doc="topic to listen for connection cache list of connections"/>
  <arg name="connection_cache_diff" default="/rocon/connection_cache/diff" doc="topic to listen for differences in connection cache list of connections"/>

  <arg name="enable_rocon" default="false"/> <!-- NOT WORKING ANYMORE -->
  <arg name="rapps_namespaces" default="[]" /> <!-- TODO : default should be to watch all -> wildcard support needed -->

  <!-- rostful dev server -->
  <node pkg="rostful" name="rostful" type="devserver" args="-p $(arg rostful_port) -s $(arg rostful_server)">
    <param name="topics" value="$(arg topics)" type="str" />
    <param name="services" value="$(arg services)" type="str" />
    <param name="actions" value="$(arg actions)" type="str" />
    <param name="params" value="$(arg params)" type="str" />
    <param name="enable_cache" value="$(arg enable_cache)" type="bool" />
    <param name="enable_rocon" value="$(arg enable_rocon)" type="bool" />
    <param name="rapps_namespaces" value="$(arg rapps_namespaces)" type="str"/>
    <!-- remapping subscriber to plug into connection cache -->
    <remap from="~connections_list" to="$(arg connection_cache_list)"/>
    <remap from="~connections_diff" to="$(arg connection_cache_diff)"/>
  </node>

</launch>
