<launch>
  <!-- ******************************* Arguments ******************************* -->
  <arg name="rostful_bind" default="127.0.0.1"/>
  <arg name="rostful_port" default="8080"/>
  <arg name="rostful_server" default="flask"/>
  <!-- <arg name="rostful_config" default=""/> -->

  <!-- TODO : move these out of here, they depend on pyros and underlayed system -->
  <arg name="topics" default="['turtle1/pose']" />
  <arg name="services" default="[]" />
  <arg name="params" default="[]" />
  <arg name="enable_cache" default="false"/>  <!-- since connection_cache is not widely known&used, dont expect it by default -->
  <arg name="connection_cache_list" default="/connection_cache/list" doc="topic to listen for connection cache list of connections"/>
  <arg name="connection_cache_diff" default="/connection_cache/diff" doc="topic to listen for differences in connection cache list of connections"/>

  <!-- default here matches flask config default when running from source -->
  <arg name="logfile" default="$(find rostful)/instance/rostful.log"/>
  <arg name="configfile" default="$(find rostful)/instance/rostful.cfg"/>
  <!-- TODO : better default when installed -->

  <!-- rostful dev server -->
  <node pkg="rostful" name="rostful" type="rostful" args="-h $(arg rostful_bind) -p $(arg rostful_port) -s $(arg rostful_server) -c $(arg configfile) -l $(arg logfile)">
    <param name="topics" value="$(arg topics)" type="str" />
    <param name="services" value="$(arg services)" type="str" />
    <param name="params" value="$(arg params)" type="str" />
    <param name="enable_cache" value="$(arg enable_cache)" type="bool" />
    <!-- remapping subscriber to plug into connection cache -->
    <remap from="~connections_list" to="$(arg connection_cache_list)"/>
    <remap from="~connections_diff" to="$(arg connection_cache_diff)"/>
  </node>

</launch>
