<launch>
  <node pkg="turtlesim" name="turtlesim" type="turtlesim_node"/>
  <node pkg="turtle_actionlib" name="turtle_shape_server" type="shape_server"/>

  <!-- DEVELOPMENT -->
  <include file="$(find rostful)/launch/vegebot.launch" >
    <arg name="topics" value="['/turtle1/pose','/turtle1/cmd_vel']" type="str" />
    <arg name="services" value="['/clear','/reset','/kill','/spawn','/turtle1/set_pen', '/turtle1/teleport_absolute','/turtle1/teleport_relative']" type="str" />
    <arg name="actions" value="['/turtle_shape_server']" type="str" />
  </include>

</launch>