<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ROSTful - ROS REST interface</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='js/jquery-mobile/jquery.mobile-1.4.5.min.css') }}">

<script src="{{ url_for('static', filename='js/jquery/jquery-1.11.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-mobile/jquery.mobile-1.4.5.min.js') }}"></script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

</head>
<body>

{% from 'macros.html' import navbar %}

{% if services %}
<div data-role="page" id="services">
  <div data-role="header" data-id="mainheader">
    <h1>Services</h1>
  </div>
    {% for name, service in services.iteritems() %}
      <a href="{{ url_for('.ros_interface', rosname=service.fullname[1:]) }}" class="ui-btn">{{ service.fullname }}</a>
    {% endfor%}
  <div data-role="footer" data-id="mainfooter" data-position="fixed">
  {{ navbar(services, topics, params, 'services') }}
  </div>
</div>
{% endif%}

{% if topics %}
<div data-role="page" id="topics">
  <div data-role="header" data-id="mainheader">
    <h1>Topics</h1>
  </div>
    {% for name, topic  in topics.iteritems() %}
      <a href="{{ url_for('.ros_interface', rosname=topic.fullname[1:])  }}" class="ui-btn">{{ topic.fullname }}</a>
    {% endfor%}
  <div data-role="footer" data-id="mainfooter" data-position="fixed">
  {{ navbar(services, topics, params, 'topics') }}
  </div>
</div>
{% endif%}

{% if params %}
<div data-role="page" id="params">
  <div data-role="header" data-id="mainheader">
    <h1>Params</h1>
  </div>
    {% for name, param  in params.iteritems() %}
      <a href="{{ url_for('.ros_interface', rosname=param.fullname[1:])  }}" class="ui-btn">{{ param.fullname }}</a>
    {% endfor%}
  <div data-role="footer" data-id="mainfooter" data-position="fixed">
  {{ navbar(services, topics, params, 'params') }}
  </div>
</div>
{% endif%}

  <!--
<div data-role="page" id="ros">
  <div data-role="header" data-id="mainheader" data-add-back-btn="true">
    <h1>ROS</h1>
  </div>

<p>Count numbers: <output id="result"></output></p>
<button onclick="startWorker()">Start Worker</button>
<button onclick="stopWorker()">Stop Worker</button>
<br><br>

  <script type=text/javascript>
    var w;

    function startWorker() {
        if(typeof(Worker) !== "undefined") {
            if(typeof(w) == "undefined") {
                w = new Worker("{{ url_for('static', filename='js/rosworker.js') }}");
            }
            w.onmessage = function(event) {
                document.getElementById("result").innerHTML = event.data;
            };
        } else {
            document.getElementById("result").innerHTML = "Sorry! No Web Worker support.";
        }
    }

    function stopWorker() {
        w.terminate();
        w = undefined;
    }
  </script>

  <div data-role="footer" data-id="mainfooter" data-position="fixed">
  </div>
</div>
-->

</body>
</html>
