<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ROSTful - ROS REST interface</title>
<link rel="stylesheet" href="{{ url_for('static', filename='js/jquery-mobile/jquery.mobile-1.4.5.min.css') }}">

<script src="{{ url_for('static', filename='js/jquery/jquery-1.11.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-mobile/jquery.mobile-1.4.5.min.js') }}"></script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

</head>
<body>

{% from 'macros.html' import navbar %}

<div data-role="page" id="interactions">
  <div data-role="header">
    <h1>Interactions</h1>
  </div>
  {% if interactions %}
    {% for name, interact in interactions.iteritems() %}
      <a href=# class="ui-btn">{{ interact.display_name }}</a>
    {% endfor%}
  {% else %}
    There is no Interactions available on this ROSTful Server
  {% endif%}
  <div data-role="footer">
  {{ navbar('interact') }}
  </div>
</div>

<div data-role="page" id="actions">
  <div data-role="header">
    <h1>Actions</h1>
  </div>
  {% if actions %}
    {% for name, action in actions.iteritems() %}
      <a href="{{ action.fullname }}" class="ui-btn">{{ action.fullname }}</a>
    {% endfor%}
  {% else %}
    There is no Actions available on this ROSTful Server
  {% endif%}
  <div data-role="footer">
  {{ navbar('actions') }}
  </div>
</div>

<div data-role="page" id="services">
  <div data-role="header">
    <h1>Services</h1>
  </div>
  {% if services %}
    {% for name, service in services.iteritems() %}
      <a href="{{ service.fullname }}" class="ui-btn">{{ service.fullname }}</a>
    {% endfor%}
  {% else %}
    There is no Services available on this ROSTful Server
  {% endif%}
  <div data-role="footer">
  {{ navbar('services') }}
  </div>
</div>

<div data-role="page" id="topics">
  <div data-role="header">
    <h1>Topics</h1>
  </div>
  {% if topics %}
    {% for name, topic  in topics.iteritems() %}
      <a href="{{ topic.fullname }}" class="ui-btn">{{ topic.fullname }}</a>
    {% endfor%}
  {% else %}
    There is no Topics available on this ROSTful Server
  {% endif%}
  <div data-role="footer">
  {{ navbar('topics') }}
  </div>
</div>

</body>
</html>
