<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ROSTful - ROS REST interface</title>
<link rel="stylesheet" href="{{ url_for('static', filename='js/jquery-mobile/jquery.mobile-1.4.5.min.css') }}">

<script src="{{ url_for('static', filename='js/jquery/jquery-1.11.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-mobile/jquery.mobile-1.4.5.min.js') }}"></script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

</head>
<body>

{% from 'macros.html' import navbar %}

{% if interactions %}
<div data-role="page" id="interactions">
  <div data-role="header">
    <h1>Interactions</h1>
  </div>
    {% for name, interact in interactions.iteritems() %}
      <a href="{{ pathname2url(name) }}" class="ui-btn">{{ interact.display_name }}</a>
    {% endfor%}
  <div data-role="footer">
  {{ navbar(interactions, rapp_namespaces, actions, services, topics, 'interact') }}
  </div>
</div>
{% endif%}

{% if rapp_namespaces %}
<div data-role="page" id="rapp_namespaces">
  <div data-role="header">
    <h1>Rapp Namespaces</h1>
  </div>
    {% for name, rapp_ns in rapp_namespaces.iteritems() %}
      <a href="{{ name }}" class="ui-btn">{{ name }}</a>
    {% endfor%}
  <div data-role="footer">
  {{ navbar(interactions, rapp_namespaces, actions, services, topics, 'rapp_ns') }}
  </div>
</div>
{% endif %}

{% if actions %}
<div data-role="page" id="actions">
  <div data-role="header">
    <h1>Actions</h1>
  </div>
    {% for name, action in actions.iteritems() %}
      <a href="{{ action.fullname }}" class="ui-btn">{{ action.fullname }}</a>
    {% endfor%}
  <div data-role="footer">
  {{ navbar(interactions, rapp_namespaces, actions, services, topics, 'actions') }}
  </div>
</div>
{% endif%}

{% if services %}
<div data-role="page" id="services">
  <div data-role="header">
    <h1>Services</h1>
  </div>
    {% for name, service in services.iteritems() %}
      <a href="{{ service.fullname }}" class="ui-btn">{{ service.fullname }}</a>
    {% endfor%}
  <div data-role="footer">
  {{ navbar(interactions, rapp_namespaces, actions, services, topics, 'services') }}
  </div>
</div>
{% endif%}

{% if topics %}
<div data-role="page" id="topics">
  <div data-role="header">
    <h1>Topics</h1>
  </div>
    {% for name, topic  in topics.iteritems() %}
      <a href="{{ topic.fullname }}" class="ui-btn">{{ topic.fullname }}</a>
    {% endfor%}
  <div data-role="footer">
  {{ navbar(interactions, rapp_namespaces, actions, services, topics, 'topics') }}
  </div>
</div>
{% endif%}

</body>
</html>
