{% macro navbar(active='rapps') %}
    <div data-role="navbar">
      <ul>
        <li><a href="#rapps" {{ 'class=ui-btn-active ui-state-persist' if 'rapps'==active }} >Rapps</a></li>
        <li><a href="#actions" {{ 'class=ui-btn-active ui-state-persist' if 'actions'==active }}>Actions</a></li>
        <li><a href="#services" {{ 'class=ui-btn-active ui-state-persist' if 'services'==active }}>Services</a></li>
        <li><a href="#topics" {{ 'class=ui-btn-active ui-state-persist' if 'topics'==topics }}>Topics</a></li>
      </ul>
    </div>
{% endmacro %}

{% macro content_navbar() %}
    <div data-role="navbar">
      <ul>
        <li><a href="#" data-rel="back" data-icon="back">Back</a></li>
      </ul>
    </div>
{% endmacro %}

{% macro generate_inputs(fielddict) %}
  {% for name, type in fielddict.iteritems() %}
    <div class="ui-field-contain">
      <label for="{{ name }}">{{ name }}:</label>

    {% if type=='float32' %}
      <input type=number name="{{ name }}" id="{{ name }}"/>

    {% elif type=='int32' %}
      <input type=number name="{{ name }}" id="{{ name }}"/>

    {% elif type=='uint8' %}
      <input type=number name="{{ name }}" id="{{ name }}"/>

    {% elif type=='geometry_msgs/Vector3' %}
      <div class="ui-field-contain">
        <label for="{{ name }}.x">{{ name }}.x:</label>
        <input type=number name="{{ name }}_x" id="{{ name }}_x"/>
      </div>
      <div class="ui-field-contain">
        <label for="{{ name }}.y">{{ name }}.y:</label>
        <input type=number name="{{ name }}_y" id="{{ name }}_y"/>
      </div>
      <div class="ui-field-contain">
        <label for="{{ name }}.z">{{ name }}.z:</label>
        <input type=number name="{{ name }}_z" id="{{ name }}_z"/>
      </div>

    {% elif type=='string' %}
      <input type=text name="{{ name }}" id="{{ name }}"/>

    {% else %}
      <input type=text name="{{ name }}" id="{{ name }}" placeholder="UNIMPLEMENTED MSG FIELD TYPE {{ type }}">

    {% endif %}
    </div>
  {% endfor %}
{% endmacro %}

{% macro generate_msgdata(fielddict) %}
  msgdata = {}
  {% for name, type in fielddict.iteritems() %}

    {% if type=='float32' %}
    msgdata['{{ name }}'] = parseInt($('#{{ name }}').val())

    {% elif type=='int32' %}
    msgdata['{{ name }}'] = parseInt($('#{{ name }}').val())

    {% elif type=='uint8' %}
    msgdata['{{ name }}'] = parseInt($('#{{ name }}').val())

    {% elif type=='geometry_msgs/Vector3' %}
    msgdata['{{ name }}'] = {}
    msgdata['{{ name }}']['x'] = parseInt($('#{{ name }}_x').val())
    msgdata['{{ name }}']['y'] = parseInt($('#{{ name }}_y').val())
    msgdata['{{ name }}']['z'] = parseInt($('#{{ name }}_z').val())

    {% elif type=='string' %}
    msgdata['{{ name }}'] = $('#{{ name }}').val()

    {% else %}
    msgdata['{{ name }}'] = $('#{{ name }}').val()

    {% endif %}
  {% endfor %}
{%endmacro %}
