{% extends "layout.html" %}
{% block title %}Topic {{ topic.name }}{% endblock %}
{% block header %}Topic {{ topic.name }}{% endblock %}
{% block GET %}

  <h2>Receive message</h2>
  <!-- Topic allow_sub : {{ topic.allow_sub }} -->
  <button class="ui-btn ui-corner-all ui-btn-inline ui-shadow" {{ 'disabled="disabled"' if not topic.allow_sub }} id="get_latest">
    GET LATEST MSG
  </button>
  <pre id="get_result"></pre>
{% endblock %}

{% block GET_ajax %}
<script type=text/javascript>
$(document).on('pagecreate', '#mainlayout', function(){
  $(document).on('click', '#get_latest', function(e){
    $.ajax({
      url: $SCRIPT_ROOT + '/ros{{ topic.name }}',
      dataType: 'json',
      beforeSend: function(xhr, opts) {
          // This callback function will trigger before data is sent
          $.mobile.loading('show');// This will show ajax spinner
      },
      complete: function() {
          // This callback function will trigger on data sent/received complete
          $.mobile.loading('hide');// This will hide ajax spinner
      },
      success: function(data) {
        $("#get_result").text(JSON.stringify(data,null,2));
      },
      error: function (request,error) {
          // This callback function will trigger on unsuccessful action
          alert('Network error has occurred please try again!');
      }
    });
    return false; // cancel original event
  });
});
</script>
{% endblock %}


{% from 'macros.html' import generate_inputs, generate_msgdata %}

{% block POST %}
  <h2>Send message</h2>

  <!-- Topic msgtype : {{topic.msgtype}} -->

  <!-- Topic allow_pub : {{ topic.allow_pub }} -->

  <form action="" method=post data-ajax=false>
      {{ generate_inputs(topic.msgtype) }}
      <input class="ui-btn ui-corner-all ui-btn-inline ui-shadow" {{ 'disabled="disabled"' if not topic.allow_pub }} type="button" name="submit" id="submit" value="POST NEW MSG">
  </form>
  <pre id="post_request"></pre>
  <pre id="post_result"></pre>

{% endblock %}

{% block POST_ajax %}
<script type=text/javascript>

$(document).on('pagecreate', '#mainlayout', function(){
  $(document).on('click', '#submit', function() { // catch the form's submit event
    {{ generate_msgdata(topic.msgtype) }}

    //alert ( ' sending ' + JSON.stringify(msgdata) );
    // Send data to Rostful backend through the Ajax call
    $.ajax({
        url: $SCRIPT_ROOT + '/ros{{ topic.name }}',
        data: JSON.stringify(msgdata),
        method: 'POST',
        dataType: 'json',
        beforeSend: function() {
            // This callback function will trigger before data is sent
          $.mobile.loading('show');// This will show ajax spinner
        },
        complete: function() {
            // This callback function will trigger on data sent/received complete
          $.mobile.loading('hide');// This will show ajax spinner
        },
        success: function (result) {
            //alert(result);
        },
        error: function (request,error) {
            // This callback function will trigger on unsuccessful action
            alert('Network error has occurred please try again!');
        }
    });
    return false; // cancel original event to prevent form submitting
  });
});
</script>
{% endblock %}


{% from 'macros.html' import content_navbar %}
{% block footer %}{{ content_navbar() }}{% endblock %}


